* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  margin: 0px 30px;
}
.left {
  display: flex;
  align-items: flex-end;
}
.left span {
  padding-left: 5px;
  color: #5f6368;
  font-family: 'Product Sans',Arial,sans-serif;
  font-size: 22px;
}
.right {
  font-size: 20px;
  color: #5f6368;
}
.right a {
  margin-right: 15px;
  color: #5f6368;
}
.header-bottom {
  margin: 20px 0px 10px 30px;
}
.header-bottom a {
  font-family: 'Google Sans',sans-serif;
  color: #5f6368;
  font-size: 15px;
  font-weight: 500;
  margin: 0 42px 0 0;
}

.wrapper-50 {
  padding-top: 80px;
  width: 50%;
  margin: 0 auto;
}
.question {
  font-family: 'Google Sans',sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin: 30px 0px;
}
p{
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 30px 0px;
  line-height: 24px;
}
a {
  text-decoration: none;
}
